.header {
    text-align: center;
    color: #343434;
    padding-top: 2em;
    padding-bottom: 2em;
}

.side-bar {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: auto;
}